.logo {
  color: red;
  font-size: large;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.line {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgb(18, 42, 77);
  height: 1px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
}

.tab-content {
  padding-top: 2%;
}

.cart-image {
  width: 80px;
}

.button-list {
  text-align: center;
}

